EJERCICIOS: DATA ANALYTICS

coerse = si hay valores que no se pueden convertir, los coloca en NaN

In [4]:
import pandas as pd

# 1. importar librerias y cargar el archivo
df = pd.read_csv("ventas.csv")
print(df.head(2))
print(df.info())
print(df.describe())

   ID_Venta       Fecha Producto  Cantidad  Precio    Ciudad     Cliente
0         1  2023-01-01   Tablet        82     759  Trujillo  Cliente_12
1         2  2023-01-02  Monitor       111     863     Cusco  Cliente_12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_Venta  120 non-null    int64
 1   Fecha     120 non-null    object
 2   Producto  120 non-null    object
 3   Cantidad  120 non-null    int64
 4   Precio    120 non-null    int64
 5   Ciudad    120 non-null    object
 6   Cliente   120 non-null    object
dtypes: int64(3), object(4)
memory usage: 6.7+ KB
None
         ID_Venta    Cantidad       Precio
count  120.000000  120.000000   120.000000
mean    60.500000   78.891667  1036.191667
std     34.785054   43.230629   548.573663
min      1.000000    1.000000   101.000000
25%     30.750000   41.000000   557.250000
50%     60.500000   81.500000  1020.500000
75%     90.250000  121.000000  1502.250000
max    120.000000  147.000000  1984.000000

In [3]:
# 2. Revisar informacion general
print(df.info())        ## InformaciÃ³n del dataset (columnas, tipos de datos, nulos)
print(df.describe())    ## Resumen estadÃ­stico de las columnas numÃ©ricas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_Venta  120 non-null    int64
 1   Fecha     120 non-null    object
 2   Producto  120 non-null    object
 3   Cantidad  120 non-null    int64
 4   Precio    120 non-null    int64
 5   Ciudad    120 non-null    object
 6   Cliente   120 non-null    object
dtypes: int64(3), object(4)
memory usage: 6.7+ KB
None
         ID_Venta    Cantidad       Precio
count  120.000000  120.000000   120.000000
mean    60.500000   78.891667  1036.191667
std     34.785054   43.230629   548.573663
min      1.000000    1.000000   101.000000
25%     30.750000   41.000000   557.250000
50%     60.500000   81.500000  1020.500000
75%     90.250000  121.000000  1502.250000
max    120.000000  147.000000  1984.000000

In [5]:
#TRANSFORMACION DE LA DATA
# 1. Convertir Fecha a datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
# 2. Asegurar que Precio sea decimal (float)
df['Precio'] = df['Precio'].astype(float)
# 3. Crear columna Total = Cantidad * Precio
df['Total'] = df['Cantidad'] * df['Precio']
print(df.head(2))
print(df.info())

   ID_Venta      Fecha Producto  Cantidad  Precio    Ciudad     Cliente  \
0         1 2023-01-01   Tablet        82   759.0  Trujillo  Cliente_12
1         2 2023-01-02  Monitor       111   863.0     Cusco  Cliente_12

     Total
0  62238.0
1  95793.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_Venta  120 non-null    int64
 1   Fecha     120 non-null    datetime64[ns]
 2   Producto  120 non-null    object
 3   Cantidad  120 non-null    int64
 4   Precio    120 non-null    float64
 5   Ciudad    120 non-null    object
 6   Cliente   120 non-null    object
 7   Total     120 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 7.6+ KB
None

In [ ]:
#Contar duplicados + eliminarlos
duplicados = df.duplicated().sum()
print("Numero de filas duplicadas: ", duplicados)
df = df.drop_duplicates()
print("Se eliminaron un total de duplicados: ", duplicados)
#Contar los nulos + eliminarlos
nulos = df.isnull().sum().sum()
print("Numero de nulos:", nulos)
df = df.dropna(subset=['Cliente', 'Producto'])
print("Se eliminaron un total de nulos: ", nulos)

Numero de filas duplicadas:  0
Se eliminaron un total de duplicados:  0
Numero de nulos: 0
Se eliminaron un total de nulos:  0

In [31]:
#MANIPULAR LOS DATOS
#FILTRAR = todas las ventas de Lima con mÃ¡s de 100 unidades.
ventas_lima_100 = df[(df['Ciudad'] == 'Lima') & (df['Cantidad'] > 130)]
print(ventas_lima_100.head(10))

     ID_Venta      Fecha Producto  Cantidad  Precio Ciudad     Cliente  \
14         15 2023-01-15  Monitor       136   650.0   Lima  Cliente_16
18         19 2023-01-19  Monitor       136  1902.0   Lima  Cliente_10
24         25 2023-01-25  Monitor       135   362.0   Lima  Cliente_28
78         79 2023-03-20   Tablet       137  1703.0   Lima  Cliente_26
107       108 2023-04-18  Monitor       145  1400.0   Lima  Cliente_16

        Total
14    88400.0
18   258672.0
24    48870.0
78   233311.0
107  203000.0

In [ ]:
#AGRUPAR = total vendido por ciudad. / ðŸ‘‰ .reset_index() se usa para devolverlo como DataFrame limpio
ventas_por_ciudad = df.groupby('Ciudad')['Total'].sum().reset_index() 
print(ventas_por_ciudad)

     Ciudad      Total
0  Arequipa  2555152.0
1     Cusco  2275004.0
2      Lima  2623112.0
3  Trujillo  2328820.0

In [33]:
#AGRUPAR = promedio de precio y suma de cantidad por producto.
resumen_producto = df.groupby('Producto').agg({
    'Cantidad': 'sum',
    'Precio': 'mean'
})
print(resumen_producto)

          Cantidad       Precio
Producto
Celular       2758   936.382353
Laptop        1340  1124.227273
Monitor       3061  1071.305556
Tablet        2308  1043.071429

In [34]:
#CREAR COLUMNAS CONDICIONALES 
#clasificar las ventas segÃºn la cantidad.
df['Clasificacion'] = df['Cantidad'].apply(
    lambda x: "Alta" if x > 100 else "Baja"
)
print(df[['Cantidad', 'Clasificacion']].head())

   Cantidad Clasificacion
0        82          Baja
1       111          Alta
2        53          Baja
3        24          Baja
4       124          Alta

âœ… Con esto ya dominamos: cargar â†’ limpiar â†’ transformar â†’ filtrar â†’ agrupar â†’ condicionar.